<section class="mar-b-1 pad-1 font-size-1">
  hi
</section>
<section class="mar-b-2 pad-2 font-size-2">
  hi
</section>
<section class="mar-b-3 pad-3 font-size-3">
  hi
</section>
<section class="mar-b-4 pad-4 font-size-4">
  hi
</section>
<section class="mar-b-5 pad-5 font-size-5">
  hi
</section>
<section class="font-size-6 transition-test flex-centered app-section-with-height">
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
</section>
<section class="font-size-6 transition-test flex-centered flex-column">
  <span class="mar-t-2-owl">hi</span>
  <span class="mar-t-2-owl">hi</span>
  <span class="mar-t-2-owl">hi</span>
  <span class="mar-t-2-owl">hi</span>
</section>
<section class="font-size-6 transition-test flex-centered-main-axis app-section-with-height">
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
</section>
<section class="font-size-6 transition-test flex-centered-cross-axis app-section-with-height">
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
  <span class="mar-l-2-owl">hi</span>
</section>
<router-outlet></router-outlet>
